@charset "UTF-8";

/* ========================================================== 
                            Resets
========================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    max-width: 100%;
}

/* ========================================================== 
                        Image Links
========================================================== */

/* https://source.unsplash.com/random?night sky */
/* https://source.unsplash.com/random/?Cryptocurrency&1 */
/* https://picsum.photos/300/300?random=1 */

/* ========================================================== 
                            Fonts
========================================================== */

/* ========================================================== 
                Variables / Custom Properties
========================================================== */

/* ========================================================== 
                            Body
========================================================== */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightgray;
    height: 100vh;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* ========================================================== 
                            Content
========================================================== */

form {
    display: flex;
    gap: 5%;
}
input {
    padding: 10px;
}

#output {
    display: none;
    margin-top: 20px;
    padding: 20px;
    background-color: lightcoral;
    font-weight: bold;
    border-radius: 10px;
}